<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Form</title>
</head>
<body>
    <header class="form">
        <a href="/">
            <h1>BLOG</h1>
        </a>
    </header>
    <h1>FORM</h1>
    <form action="/users" method="POST">
        <input type="text" name="title" id="title" placeholder="Title"><br>
        <input type="text" name="description" id="description" placeholder="Description"><br>
        <input type="text" name="tags" id="tags" placeholder="Tags"><br>
        <input type="text" name="author" id="author" placeholder="Author"><br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>