<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>WELCOME TO BLOG</h1>
    </header>
    <a class="go-btn" href="/users">
      <button class="go-btn">Go to Articel</button>
    </a>
   
  </body>
</html>
